

/*------------------------------------------------*/
/* layout
/*------------------------------------------------*/
.l-row {
  width: 500px;
  padding: 20px;
  margin: 40px auto;
  background-color: #fff;
}
* {
	margin: 0;
	padding: 0;
}

